*.pyc
*.log
*.tmp
.env
build/
build/*
build/**
build*/
build*/*
build*/**
devel/
devel/*
devel/**
devel*/
devel*/*
devel*/**
.idea/
.idea/*
.idea/**
.idea*/
.idea*/*
.idea*/**
.vscode/
.vscode/*
.vscode/**
.vscode*/
.vscode*/*
.vscode*/**
**/__pycache__/
*.bak
*.bk
src/CMakeLists.txt
*test_map.db
*.bag
